.app {
  padding-top: calc( 3em + 5px); }

.status-published {
  top: 3em;
  left: 0;
  position: fixed;
  border-top: 5px solid #8dae28;
  z-index: 1000;
  width: 100%; }

.status-unpublished {
  top: 3em;
  left: 0;
  position: fixed;
  border-top: 5px solid #b3000a;
  z-index: 1000;
  width: 100%; }

.status-private {
  top: 3em;
  left: 0;
  position: fixed;
  border-top: 5px solid #f89406;
  z-index: 1000;
  width: 100%; }
